#total_sidebar_layout label{
	position: relative;
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
}

#total_sidebar_layout label input{
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}

#total_sidebar_layout label img{
	vertical-align: middle;
	border: 2px solid transparent;
}

#total_sidebar_layout label input:checked + img{
	border: 2px solid #BBB;
}

.clearfix:after,
.clearfix:before{
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

.widget-content .attachment-media-view{
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}

.widget-content .placeholder{
    width: 100%;
    position: relative;
    text-align: center;
    cursor: default;
    border: 1px dashed #b4b9be;
    box-sizing: border-box;
    padding: 9px 0;
    line-height: 20px;
}

.widget-content .actions{
    margin-top: 8px;
}